body {
    background-color: rgb(246, 246, 246);
}

h1 {
    color: darkblue;
}

p {
    color: grey;
}

/* Basis styling voor de tooltip */
.tooltip {
    position: relative; /* Dit zorgt ervoor dat de tooltip-text relatief wordt gepositioneerd t.o.v. de tekst */
    display: block; /* Houdt de tekst inline */
    margin-bottom: 10px;
    cursor: pointer; /* Verandert de muisaanwijzer naar een handje bij hover */
}

/* Styling voor de verborgen tekst */
.tooltip .tooltiptext {
    visibility: hidden; /* Verbergt de tooltip standaard */
    width: 200px; /* Breedte van de tooltip */
    background-color: black; /* Achtergrondkleur van de tooltip */
    color: #fff; /* Tekstkleur in de tooltip */
    text-align: center; /* Centreert de tekst in de tooltip */
    border-radius: 5px; /* Ronde hoeken aan de tooltip */
    padding: 5px 0; /* Binnenruimte in de tooltip */
    
    /* Positionering van de tooltip */
    position: absolute;
    z-index: 1;
    top: 100%; /* Positioneert de tooltip boven de tekst */
    left: +10%;
    transform: translateX(-50%);
    opacity: 0; /* Maakt de tooltip onzichtbaar */
    transition: opacity 0.3s; /* Zorgt voor een vloeiende overgang */
}

/* Styling wanneer de muis over de tekst zweeft */
.tooltip:hover .tooltiptext {
    visibility: visible; /* Maakt de tooltip zichtbaar */
    opacity: 1; /* Zorgt ervoor dat de tooltip verschijnt */
}